body {
	font-family: 'Kode Mono', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ccc;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}
th, tr, thead, tfoot, tbody, table{
	border: #000 1px solid;
}
.kode-mono-regular {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.container-fluid {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #0000007a;

}

.logo {
	transition: 1s;
}

.logo:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

.title {
	transition: 0.5s;
	font-family: 'Kode Mono', sans-serif;
	display: flex;
	color: #fff;
	text-shadow: 0 0 10px #8c87847a;
	font-size: 5vw;
	margin: 0;
	padding: 0;
}

.title:hover {
	color: rgba(0, 0, 0, 0.1);
	text-shadow: none;
	cursor: default;
	transition: 1.5s ease;
}

.desc {
	display: flex;
	font-size: 1.2vw;
	color: white;
	text-shadow: 0 0 10px #8c87847a;
	margin: 0;
	justify-content: center;
	text-align: center;
}

home.html p {
	font-size: 1em;
	color: #bbb;
	margin: 0;
	text-shadow: 0px 0px 3px #071126;
}

.home {
	background-image: url('./image/backgroundIMG1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

@media (max-width: 1200px) {
	.home {
		background-image: url('./image/backgroundIMG2.png');
	}

	.sec2 {
		background-image: url('./image/backgroundIMG-1.png');
	}

	.title {
		font-size: 6vw;
	}

	.desc {
		font-size: 1.7vw;
	}
}

@media (max-width: 768px) {
	.home {
		background-image: url('./image/backgroundIMG3.png');
	}

	.sec2 {
		background-image: url('./image/backgroundIMG-2.png');
	}

	.title {
		font-size: 10vw;
	}

	.desc {
		font-size: 3vw;
	}
}

.vh90 {
	height: 90vh !important;
}

@media (max-width: 480px) {
	.home {
		background-image: url('./image/backgroundIMG3.png');
	}

	.sec2 {
		background-image: url('./image/backgroundIMG-3.png');
	}

	.title {
		font-size: 8vw;
	}

	.desc {
		font-size: 3vw;
	}
}

.pl-50 {
	padding-left: 50%;
}

.ico {
	color: #fff;
	border: none;
	outline: none;
}

.ico:focus {
	color: #8c8784;
	border: none;
	outline: none;
	transition: color 0.3s ease;
}

.nav-link {
	transition: 1s;
	color: #8c8784;
	text-decoration: none;
}

.nav-link:hover {
	text-shadow: 0 0 5px #8c87847a;
	color: #fff;
	transition: transform 0.2s;
	transform: scale(1.2);
}

a {
	transition: 0.2s;
	text-shadow: 0px 0px 3px #fff;
	text-decoration: none;
	color: #aaa;
}

a:hover {
	transition: 1s;
	text-shadow: 0 0 5px #8c87847a;
	color: #fff;
	transform: scale(1.2);
}

.navbar {
	box-shadow: 0 0 16px #0000007a;
	padding: 0;
}

.row {
	width: 100%;
	margin: 0;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	height: 50vh;
	box-shadow: #0000007a 0px 0px 10px;
	border-radius: 1rem;
	background: transparent;
	backdrop-filter: blur(10px);
	border: #000 2px solid;
	margin: 10% 0.5rem;
	padding: 0.5rem;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	border: none;
	background-color: #071126;
	margin-bottom: 1rem;
}

.btn:hover {
	background-color: transparent;
	color: #071126;
	outline: #071126 2px solid;
}

.form-control {
	border-radius: 2rem;
	background: transparent;
	outline: #071126 2px solid;
}

.form-control:focus {
	background: transparent;
	box-shadow: none;
	outline: #071126 2px solid;
}

.pp {
	color: #8c8784;
}

.pp:hover {
	color: #071126;
}

.sec2 {
	background-image: url('./image/backgroundIMG-1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.sec1 {
	background-image: url('./image/backgroundIMG1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}